  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
  :root {
    --gris-oscuro: #242424;
    --gris-claro: #e7e7e7;
    
    --font-titulo: 'Rubik', sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  html{
    background-image: url('fondo.png');
    min-height: 100vh;
    overflow-x: hidden;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }
  nav{
    width: 100%;
    position: sticky;
    top: 0;
  }
  .contenedor-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
  }
  .contenedor-btn-inferior {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0; right: 0; left: 0;
    width: auto; height: 5.5rem;
    z-index: 2000; 
    background-color: var(--gris-oscuro);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;
    gap: .5rem;
  }
